@model BDS.Areas.Admin.Models.FeedBack.FeedBackRequest

@{
    ViewData["Title"] = "Contact";
}


<div id="body" class="body-container">
    <div class="breadcrumb" style="display: list-item;">
        <div class="uk-container uk-container-center">
            <ul class="uk-breadcrumb uk-margin-remove">
                <li><a href="/" title="Trang chủ"><i class="fa fa-home"></i> Trang chủ</a></li>
                <li class="uk-active"><a href="#" title="Liên hệ" class="link">Liên hệ</a></li>
            </ul>
        </div>
    </div><!-- end .breadcrumb -->
    <div class="uk-container uk-container-center">
        <section class="uk-panel contact">
            <section class="panel-body">
                <div class="uk-grid uk-grid-medium">
                    <div class="uk-width-large-1-3 uk-width-xlarge-2-3">
                        <div class="contact-infomation">
                            <div class="note">Cám ơn quý khách đã ghé thăm website chúng tôi.</div>
                            <h2 class="company">https://batdongsanviet.info.vn/</h2>
                            <div class="address">
                                <div class="address">
                                    <p><span style="font-size:18px;"><strong>Thứ 2 - Thứ 7: 8h:00 - 20h:00 - Chủ nhật: 8h:00 - 17h:00</strong></span></p>

                                    <p><span style="font-size:18px;"><strong>Số 86, Ngõ 140, Khuất Duy Tiến, Nhân Chính, Thanh Xuân, Hà Nội.</strong></span></p>

                                    <p><span style="font-size:18px;"><strong>Mail: </strong></span><span style="color: rgb(95, 99, 104); font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif; font-size: 14px; text-align: center; white-space: nowrap;">cskhbatdongsanviet.info@gmail.com</span></p>

                                    <p><span style="font-size:18px;"><strong><span style="color: rgb(102, 102, 102); font-family: Roboto, RobotoDraft, Arial, sans-serif; white-space: nowrap;">Danh S</span>ách&nbsp;Ngân Hàng</strong></span></p>

                                    <div class="m_928157097163472960gmail-Mu m_928157097163472960gmail-SP" id="m_928157097163472960gmail-:37w.ma" style="color: rgb(34, 34, 34); font-family: Arial, Helvetica, sans-serif; font-size: small;">
                                        <span style="font-size:18px;">
                                            <strong>
                                                <span class="m_928157097163472960gmail-tL8wMe m_928157097163472960gmail-EMoHub" dir="ltr" id="m_928157097163472960gmail-:37w.co">
                                                    - NGÂN HÀNG VIETCOMBANK<br />
                                                    Sổ TK:&nbsp;&nbsp;‪0711000238777‬&nbsp;<br />
                                                    chủ tk:&nbsp;Nguyễn&nbsp;Thị&nbsp;Xuyến<br />
                                                    Sở giao dịch Hà Nội,&nbsp; chi nhánh Thanh Xuân.<br />
                                                    <br />
                                                    - NGÂN HÀNG BIDV<br />
                                                    Chủ Tài khoản: Nguyễn Thị Xuyến<br />
                                                    Số Tài Khoản: 4501.000.614.8625<br />
                                                    Chị nhánh:&nbsp;BIDV&nbsp;Hà Tây<br />
                                                    <br />
                                                    - NGÂN HÀNG VIETTINBANK<br />
                                                    Chủ tài khoản: Nguyễn Thị Xuyến<br />
                                                    Số Tài khoản: 106867573837&nbsp;<br />
                                                    Chi nhánh Thanh Xuân<br />
                                                    <br />
                                                    - NGÂN HÀNG TECHCOMBANK<br />
                                                    Chủ tài khoản: Nguyễn Thị Xuyến<br />
                                                    Số Tài khoản: 19032375819996<br />
                                                    Chi nhánh Hà Tây, PGD Thanh Xuân
                                                </span>
                                            </strong>
                                        </span>
                                    </div>

                                    <div class="m_928157097163472960gmail-Mu m_928157097163472960gmail-SP" style="color: rgb(34, 34, 34); font-family: Arial, Helvetica, sans-serif; font-size: small;" title="09:03:31 UTC+7 13 tháng 3, 2018">&nbsp;</div>

                                    <div class="m_928157097163472960gmail-Mu m_928157097163472960gmail-SP" id="m_928157097163472960gmail-:37v.ma" style="color: rgb(34, 34, 34); font-family: Arial, Helvetica, sans-serif; font-size: small;" title="09:03:31 UTC+7 13 tháng 3, 2018">
                                        <span style="font-size:18px;">
                                            <strong>
                                                <span class="m_928157097163472960gmail-tL8wMe m_928157097163472960gmail-EMoHub" dir="ltr" id="m_928157097163472960gmail-:37v.co">
                                                    - Ngân hàng&nbsp;Agribank<br />
                                                    Chủ tài khoản: Nguyễn Thị Xuyến<br />
                                                    Số Tài khoản:&nbsp;1505205201737<br />
                                                    Chi nhánh quận Thanh Xuân
                                                </span>
                                            </strong>
                                        </span>
                                    </div>

                                    <p>&nbsp;</p>

                                    <p>
                                        <span style="font-size:18px;">
                                            <strong>
                                                <span style="color: rgb(38, 50, 56); font-family: Roboto, sans-serif;">-&nbsp;STK Đông á PGD Thanh xuân</span><br style="color: rgb(38, 50, 56); font-family: Roboto, sans-serif;" />
                                                <span style="color: rgb(38, 50, 56); font-family: Roboto, sans-serif;">Chủ tk </span>
                                            </strong>
                                        </span><strong style="font-size: 18px;"><span style="color: rgb(38, 50, 56); font-family: Roboto, sans-serif;">Nguyễn Thị Xuyến</span></strong><span style="font-size:18px;"><strong><span style="color: rgb(38, 50, 56); font-family: Roboto, sans-serif;">. STK: 0111011823</span></strong></span>
                                    </p>

                                    <p>&nbsp;</p>

                                    <p>
                                        <span style="font-size:18px;">
                                            <strong>
                                                <span style="color: rgb(38, 50, 56); font-family: Roboto, sans-serif;">-&nbsp;STK Sacombank PGD thượng Đình</span><br style="color: rgb(38, 50, 56); font-family: Roboto, sans-serif;" />
                                                <span style="color: rgb(38, 50, 56); font-family: Roboto, sans-serif;">Chủ tk </span>
                                            </strong>
                                        </span><strong style="font-size: 18px;"><span style="color: rgb(38, 50, 56); font-family: Roboto, sans-serif;">Nguyễn Thị Xuyến</span></strong><span style="font-size:18px;"><strong><span style="color: rgb(38, 50, 56); font-family: Roboto, sans-serif;">. Stk: 020076833436</span></strong></span>
                                    </p>

                                    <p>&nbsp;</p>

                                    <p>
                                        <span style="font-size:18px;">
                                            <strong>
                                                <span style="color: rgb(38, 50, 56); font-family: Roboto, sans-serif;">- Stk ACB chi nhánh thanh xuân</span><br style="color: rgb(38, 50, 56); font-family: Roboto, sans-serif;" />
                                                <span style="color: rgb(38, 50, 56); font-family: Roboto, sans-serif;">Chủ tk </span>
                                            </strong>
                                        </span><strong style="font-size: 18px;"><span style="color: rgb(38, 50, 56); font-family: Roboto, sans-serif;">Nguyễn Thị Xuyến</span></strong><span style="font-size:18px;"><strong><span style="color: rgb(38, 50, 56); font-family: Roboto, sans-serif;">. Stk: 223152689</span></strong></span>
                                    </p>

                                    <p>&nbsp;</p>

                                    <p>
                                        <span style="font-size:18px;">
                                            <strong>
                                                <span style="color: rgb(38, 50, 56); font-family: Roboto, sans-serif;">-&nbsp;STK MB BANK&nbsp;</span><br style="color: rgb(38, 50, 56); font-family: Roboto, sans-serif;" />
                                                <span style="color: rgb(38, 50, 56); font-family: Roboto, sans-serif;">Chủ tk </span>
                                            </strong>
                                        </span><strong style="font-size: 18px;"><span style="color: rgb(38, 50, 56); font-family: Roboto, sans-serif;">Nguyễn Thị Xuyến</span></strong><span style="font-size:18px;"><strong><span style="color: rgb(38, 50, 56); font-family: Roboto, sans-serif;">. Stk: 0030127733003</span></strong></span>
                                    </p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p><span style="font-size:18px;"><strong><span style="color: rgb(38, 50, 56); font-family: Roboto, sans-serif;">- MoMo: 0962,434,869</span></strong></span></p>

                                    <p>&nbsp;</p>

                                    <p>&nbsp;</p>

                                    <p><span style="font-size:18px;"><strong><span style="color: rgb(38, 50, 56); font-family: Roboto, sans-serif;">Nội dung CK : SĐT đăng tin_hoặc tên tư vấn</span></strong></span></p>

                                    <p><font color="#263238" face="Roboto, sans-serif"><span style="font-size: 18px;"><b>Xin cảm ơn!!!</b></span></font></p>

                                    <p>&nbsp;</p>
                                </div>
                            </div>
                            <div class="contact-map">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3725.4968672453974!2d105.8743996154341!3d20.97271098602883!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ae9d7a2efe55%3A0x3066598df3a40416!2zQ8OidSBs4bqhYyBi4buZIEdhbXVkYSBHYXJkZW4!5e0!3m2!1svi!2s!4v1501828672883" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-large-1-3 uk-width-xlarge-1-3">
                        <div class="contact-form">
                            <div class="label">Mời bạn điền vào mẫu thư liên lạc và gửi đi cho chúng tôi. Các chuyên viên tư vấn của chúng tôi sẽ trả lời bạn trong thời gian sớm nhất.</div>
                            <form asp-action="Contact" asp-controller="Home" method="post" class="uk-form form">
                                <div class="uk-grid lib-grid-20 uk-grid-width-small-1-1 uk-grid-width-large-1-1">
                                    <div class="form-row">
                                        <div class="uk-grid lib-grid-20 uk-grid-width-1-3 uk-grid-width-large-1-3">
                                            <label for="">Họ và tên:</label>
                                            <input type="text" asp-for="Name" class="uk-width-2-3 input-text" placeholder="Họ và tên *" />
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="uk-grid lib-grid-20 uk-grid-width-1-3 uk-grid-width-large-1-3">
                                            <label for="">Số điện thoại:</label>
                                            <input type="text" asp-for="Phone" value="" class="uk-width-2-3 input-text" placeholder="Số điện thoại *" />
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="uk-grid lib-grid-20 uk-grid-width-1-3 uk-grid-width-large-1-3">
                                            <label for="">Email:</label>
                                            <input type="text" asp-for="Email" value="" class="uk-width-2-3 input-text" placeholder="Email *" />
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="uk-grid lib-grid-20 uk-grid-width-1-3 uk-grid-width-large-1-3">
                                            <label for="">Địa chỉ:</label>
                                            <input type="text" asp-for="Address" value="" class="uk-width-2-3 input-text" placeholder="Địa chỉ *" />
                                        </div>
                                    </div>
                                </div><!-- end .uk-grid -->
                                <div class="form-row">
                                    <div class="uk-grid lib-grid-20 uk-grid-width-1-3 uk-grid-width-large-1-3">
                                        <label for="">Nội dung:</label>
                                        <textarea asp-for="Message" value="" class="uk-width-2-3 form-textarea" style="height: 175px;" placeholder="Nội dung *"></textarea>
                                    </div>
                                </div>
                                <div class="form-row uk-text-right">
                                    <input type="submit" name="create" class="btn-submit" value="Gửi thông tin" />
                                </div>
                            </form><!-- end .form -->
                        </div><!-- end .contacts -->
                    </div>
                </div>
            </section>
        </section>
    </div>
</div>


